{
    "BotToken": "",
    "BotPrefix": "",
    "StartupLogChannelIds": [],
    "ErrorLogChannelIds": [],
    "GifMeToken": "",
    "GithubSourceUrl": "",
    "MerriamKey": "",
    "WeatherKey": "",
    "GeocodeKey": "",
    "AzureTranslateKey": "",
    "ClassArchiveCategoryIds": []
}
