{
    "BotToken": "",
    "BotPrefix": "",
    "StartupLogChannelIds": [],
    "ErrorLogChannelIds": [],
    "GifMeToken": "",
    "GithubSourceUrl": "",
    "MerriamKey": "",
    "WeatherKey": "",
    "GeocodeKey": "",
    "AzureTranslateKey": "",
    "ClassArchiveCategoryIds": [],
    "ClassNotifsChannelId": "",
    "BirthdayRoleId": 0,
    "BirthdayCooldownInDays": 30,
    "BirthdayChannelId": 0,
    "BirthdayAnnouncementMode": 2
}
